html {
  margin:0;
  padding:0;
  background: #CFD0CF;
}

body {
  margin:0;
  padding:0;
  font-family: Arial;
  color:#434344;
}

header {
  display:block;
  text-align:center;
}

h1 {
  margin:40px;
  font-size:42px;
  font-family:Arial;
  line-height: 1em;
}

.board_items {
  list-style: none;
  margin:0;
  padding:0;
  display:grid;
  width:595px;
  margin:0 auto;
  grid-template-columns: repeat(4,130px);
  grid-auto-rows: 130px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  perspective:600px;
  perspective-origin: center;
}

.board_items li {
  display:block;
  width:130px;
  height:130px;
  position:relative;
  cursor:pointer;
  transform:rotate3d(0,1,0,0deg);
  transform-style: preserve-3d;
  transition:transform 0.5s;
}

.board_items li::before {
  content:'';
  width:130px;
  height:130px;
  top:0;
  left:0;
  position: absolute;
  background:linear-gradient(45deg, #22AB93, #19668D);
  border-radius:9px;
  border:5px solid #fff;
  box-sizing: border-box;
  display:block;
  transform:translate3d(0px,0px,1px);
}

.board_items li::after {
  content:attr(data-emo);
  width:130px;
  height:130px;
  font-size:75px;
  text-align:center;
  line-height:130px;
  top:0;
  left:0;
  position: absolute;
  background:#fff;
  border-radius:9px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  display:block;
  transform:translate3d(0px,0px,0px);
}

.board_items li.reversed {
  transform: rotate3d(0,1,0,180deg);
}
